<app-header>Chargement du header</app-header>

<menu-aside>Chargement du menu</menu-aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <toaster-container [toasterconfig]="toastrConfig"></toaster-container>
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <div class="box-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
