<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Multiple box</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-wrench"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a >Action</a></li>
          <li><a >Another action</a></li>
          <li><a >Something else here</a></li>
          <li class="divider"></li>
          <li><a >Separated link</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
      Box content
    </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- ./box-body -->
  <div class="box-footer">
    <div class="row">
      <div class="col-md-12">
        box footer
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-footer -->
</div>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">With the boxed_style=false layout</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-wrench"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a >Action</a></li>
          <li><a >Another action</a></li>
          <li><a >Something else here</a></li>
          <li class="divider"></li>
          <li><a >Separated link</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        Box content, for page {{id}} works!
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- ./box-body -->
  <div class="box-footer">
    <div class="row">
      <div class="col-md-12">
        box footer
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-footer -->
</div>
